.do-header {
    margin: 0 30px;
    padding: 10px 0px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.do-header h6 {
    display: flex;
    flex-direction: column;
    max-width: 170px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #BFBABA;
}
.do-menu a {
    color: #999696;
    font-size: 18px;
    line-height: 24px;
}
.do-menu .active {
    color: #260202 !important;
}
.do-header .css-e53awj-MuiStack-root>:not(style)+:not(style){
    margin-left: 50px;
}